body{
    background-image: url(./imgs/hookah-lounge.webp);
    background-position: center;
    color: white;
}
.back-color{
    padding: 3% 10%;
    background-color: rgba(27, 27, 27, 0.358);
}
header{
    text-align: center;
    font-weight: 800;
}
header > .logo{
    margin-top: 15px;
    width: 100px;
    height: 100px;
}
header > h1{
    font-size: 36px;
    margin: 5px 0 15px 0;
}
.logo{
    width: 60px;
    height: 60px;
    padding: 0 10px 0 10px;
    border-radius: 50%;
}
main{
    max-width: 500px;
    margin: auto;
}
main > .items{
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.88);
    opacity: 0.8;
    border: double grey 10px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.items > h2{
    padding: 25px 0 10px 0px;
    font-size: 24px;
    color:orange;
    font-weight: 800;
}
.items > p{
    padding-bottom: 10px;
}
.solo-pic{
    width: 90%;
    border-radius: 4px;
}
footer > p{
    text-align: center;
    margin-bottom: 20px;
}
