body{
    background-image: url(./imgs/hookah-lounge.webp);
    background-position: center;
    color: white;
}
.back-color{
    padding: 3% 10%;
    background-color: rgba(27, 27, 27, 0.531);
}
.logo{
    width: 60px;
    height: 60px;
    padding: 0 20px;
}
header{
    text-align: center;
    font-weight: 800;
}
header > h1{
    font-size: 36px;
    margin: 5px 0 10px 0;
}
main{
    max-width: 760px;
    margin: auto;
}
main > .items{
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.88);
    opacity: 0.7;
    border: double grey 10px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}
.items > h2{
    padding: 20px 0px;
    font-size: 24px;
    color:orange;
    font-weight: 800;
}
.items > p{
    padding: 0 0 20px 0;
}
.solo-pic{
    width: 70%;
}
footer > p{
    text-align: center;
}